* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box; /* vai calcular o padding, with e border para ser do tamanho do elemento */
    font-size: 1.6rem; /* Volta a ser 16px, mas usando rem. */
    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

html { 
    font-size: 62.5%;  /* = 10px */
}

/* centralizar o container */
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 0px 15px;
}
